In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
#main topic shap,search for null values,using heatmap, droping a col

In [2]:
df = pd.read_excel(r'C:\Users\USER\Downloads\Desktop\ML\dataset\Data_Train.xlsx')

In [3]:
df.head(5)
df.shape

(10683, 11)

In [4]:
df.isnull().sum() #checking for null values in every column

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
df.shape[0] #checking for total number of rows
df.shape[1] #checking for total number of columns

11

In [6]:
df.isnull().sum().sum() #checking for total null values

2

In [7]:
df.isnull().sum()/df.shape[0]*100 #checking for null values in percentage

Airline            0.000000
Date_of_Journey    0.000000
Source             0.000000
Destination        0.000000
Route              0.009361
Dep_Time           0.000000
Arrival_Time       0.000000
Duration           0.000000
Total_Stops        0.009361
Additional_Info    0.000000
Price              0.000000
dtype: float64

In [8]:
(df.isnull().sum().sum()/df.shape[0]*df.shape[1])*100 #checking for total null values in percentage

0.2059346625479734

In [9]:
df.notnull().sum()

Airline            10683
Date_of_Journey    10683
Source             10683
Destination        10683
Route              10682
Dep_Time           10683
Arrival_Time       10683
Duration           10683
Total_Stops        10682
Additional_Info    10683
Price              10683
dtype: int64

In [10]:
df.notnull().sum().sum() #checking for total not null values

117511

In [11]:
percentage = (df.notnull().sum().sum() / (df.shape[0] * df.shape[1])) * 100
print(f"{percentage:.2f}%")

100.00%

In [ ]:
#ploting 

sns.heatmap(df.isnull())
plt.show()

In [ ]:
sns.heatmap(df.notnull())
plt.show()

In [ ]:
df.isnull().sum()

In [20]:
df.drop(columns=["Price"],inplace=True)

In [ ]:
df.columns

In [ ]:
df.dropna(inplace=False) #for droping colms with null values

In [ ]:
df.shape